
$primary-color:#000000;
$secondary-color:#f7f7f7;
@mixin displayFlex(){
  display: flex;
  flex-wrap: nowrap;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 2px;
}
html {
  font-size: 15px;
}
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $primary-color;
  width: 100%;
  margin-left: 0;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px;
}
body {
  background-color: $primary-color;
}
main {
  @include displayFlex();
  padding-top: 10px;
}

.nav-left {
  @include displayFlex();
  justify-content: flex-start;
  gap: 15px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.nav-right a,
.nav-left a {
  text-decoration: none;
  font-size: 1.5rem;
}

.link {
  color: $secondary-color;
  &:hover {
    color: #a0a5ad;
  }
}

.imgs-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 5px 10px;
}
.imgs-container img {
  width: 50%;
  aspect-ratio: 4/3;
  object-fit: cover;
  padding: 5px;
}
.hello-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 15px;
}
.hello-section p {
  font-size: 4rem;
  align-items: center;
  color: $secondary-color;
}
.hello-section h1 {
  font-size: 3rem;
  color: $secondary-color;
}
.about-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
    h2 {
    font-size: 2rem;
    margin-left: 15px;
    color: $secondary-color;
  }
    p {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 0;
    margin-left: 15px;
    color: $secondary-color;
    width: 100%;
    }
}
.portfolio-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
}
.portfolio-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  h2 {
    font-size: 2rem;
    margin-left: 15px;
    color: #d9d9d9;
  }
  p {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 0;
    margin-left: 15px;
    color: #d9d9d9;
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 20px;
  h3 {
    font-size: 2rem;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 0 30px;
    margin-left: 10px;
    flex-direction: row;
    padding-top: 0;
    margin-top: 15px;
    color: $secondary-color;
  }
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    font-size: 1.5rem;
    color: $secondary-color;
  }
}
.card-img-text {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  img {
    width: 400px;
    aspect-ratio: auto;
    justify-content: flex-start;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
  }
}
.contact-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  h2 {
    font-size: 1.75rem;
    margin-left: 15px;
    margin-bottom: 0;
    color: $secondary-color;
  }
  p {
    font-size: 1.5rem;
    margin-left: 15px;
    margin-bottom: 5px;
    color: $secondary-color;
    margin-top: 10px;
    margin-right: 15px;
  }
}


.logo {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  gap: 5px;
  padding-bottom: 20px;
  color: $secondary-color;
}
.fa-brands {
  font-size: 30px;
}

@media screen and (max-width: 800px) {
  .card-img-text {
    flex-direction: column;
  }
  .card-img-text img {
    width: 100%;
    object-fit: cover;
    margin-left: 0;
  }
  .hello-section p {
    font-size: 3.5rem;
  }
  .hello-section h1 {
    font-size: 2rem;
  }
  .imgs-container {
    flex-direction: column;
    object-fit: cover;
    padding-top: 20px;
  }
  .imgs-container img {
    width: 100%;
  }
}
