* {
	box-sizing:border-box;
	font-family:sans-serif;
	font-size:15px;
}
/*TAGS*/
header {
	position:fixed;
	display:flex;
	background-color:#000000;
	width:100%;
	justify-content:center;
}

nav {
	position:fixed;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:rgba(0,0,0,0);
	width:100%;
	margin-left:0;
	top:0;
	left:0;
	z-index:100;
	
}
main {
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	gap:10px;
	margin-top:100px;

}

/*CLASSES*/
/*NAVBAR BTNS*/
.nav-btns-left {
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	gap:15px;
	margin:10px;
	color:#000000;
}

.nav-btn-right {
	
	display:flex;
	justify-content:flex-end;
	margin:15px;
}

.nav-btn-right a {
	text-decoration:none;
	font-size:1.5rem;
	
}
.nav-btns-left a {
	text-decoration:none;
	font-size:1.5rem;
}

.link {
	color:#000000;
}
.link:hover {
	color: #a0a5ad;
}
/*IMGS MAIN SECTION*/
.imgs-container {
	display:flex;
	flex-wrap:wrap;
	width:50%;
	margin:5px 10px;
}
.imgs-container img {
	width:50%;
	aspect-ratio:4/3;
	object-fit:cover;
	
	padding:5px;
}
/*HELLO SECTION*/
.hello-section {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:center;
	width:50%;
	padding:15px;
}
.hello-section h1 {
	font-size:4rem;
	align-items:center;
}
.hello-section h2 {
	font-size:3rem;
}
/*ABOUT SECTION*/
.about-section {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	width:100%;
	background-color:#D9D9D9;
	padding:0 10px;
}
.about-section h2 {
	font-size:2rem;
}
.about-section h3 {
	font-size:1.5rem;
	padding:0;
	margin-top:0;
}